@import "_break_points";
@import "colors";
//glass 
// Définition des variables de couleur
$glass-color: rgba(255, 255, 255, 0.15);
$glass-border: 1px solid rgba(255, 255, 255, 0.15);
$glass-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

// Style global pour le verre flou
.glass-container {
  background: $glass-color;
  border: $glass-border;
  box-shadow: $glass-box-shadow;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
}

// Style pour les boutons
.glass-btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #fff;
    color: #333;
  }
}

// Style pour les champs de formulaire
.glass-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

// Style pour les icônes
.glass-icon {
  color: #fff;
  transition: all 0.3s ease;

  &:hover {
    color: #ccc;
  }
}


//

$dataTableBlue: #2968b6;
$dataTableRed: #d9534f;
$dataTableGreen: #3e8dae;

.back-office.top.fixed.borderless.menu {

  @include for-small-device {
    width: 100vw;
  }

  min-height: 50px;
  border: none;
  /* Utilisez le bleu glacier principal pour le top menu */

  .ui.row {
    width: 100%;
    display: flex;

    .header.item {
      span {
        margin-left: 8px;
      }
    }

    .right.menu {
      #toggle-sidebar {
        display: none;

        @include for-small-device {
          display: flex;
        }
      }

      .menu {
        .item {
          color: black !important;

          i {
            color: black !important;
          }

          &:hover {
            background: $blue-glacier-dark !important;
            /* Lorsque l'utilisateur survole un élément du menu, utilisez le bleu glacier foncé */
            color: $white-pure !important;

            i {
              color: #FFFFFF !important;
            }
          }
        }
      }
    }
  }
}

.ui.content-block.row {
  @include for-small-device {
    width: 100vw;
  }
  #page-content {
    margin-top: 5px;
    margin-right: 2px;

    @include for-small-device {
      padding-left: 1rem;
    }

    padding-left: 19.5%;
  }

  #toc {
    position: fixed;
    width: 18.5%;
    height: 100%;
    overflow: scroll;
    padding-bottom: 100px;
    border-right: 1px solid #d4d4d5;
    border: 1px solid #d4d4d5;
    background: white !important;

    @include for-small-device {
      display: none;
    }

    div.content {
      padding-top: 0px !important;

      .menu {
        .item {
          height: 37px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .ui.vertical.menu {
      border-radius: 0 !important;

      div.content {
        padding-top: 0px !important;

        .menu {
          .item {
            display: flex !important;
            align-items: center !important;
            justify-content: flex-start !important;
          }
        }
      }

      border: none;
      color: $white-pure;
      box-shadow: none;

      .title.item {
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem 1rem 1rem 1rem !important;

        &:hover {
          
        }

      }

      a.item {
        &.active {
          background: #3e8dae;
          /* Lorsque l'utilisateur survole un élément du menu, utilisez le bleu glacier foncé */
          color: $white-pure;
          font-weight: bold;
          border-radius: 0px !important;
        }
      }

      .item {

        &:hover {
          
        }

        &.header {
          font-size: 12px !important;
          padding-left: 20px !important;

          &:hover {
            background: inherit !important;
          }
        }

        i {
          float: left;
          margin-right: 10px;
        }
      }

      .menu {
        .item {
          padding-left: 25px !important;
        }
      }
    }
  }
}

.error.label {
  text-align: left !important;
  color: rgb(219, 123, 123);

  &::before {
    content: "* ";
  }
}


.dashboard-stats {
  margin-bottom: 15px !important;
}


// design

input,
textarea,
select,
button,
.dropdown {
  border-radius: 10px !important;
}

.ui.segment:not(.basic),
.card {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1) !important;
  border-radius: 10px !important;
}

.button,
.pagination {
  border-radius: 10px !important;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1) !important;
}

html {
  scroll-behavior: smooth;

  body {
    background-color: #f6f8fc;
  }
}


.ui.grid.stackable.dashboard-stats {
  .column {
    &:nth-child(1) {
      .card {
        background: linear-gradient(45deg, #FF5733, #FFC300);

        .icon {
          color: #FFFFFF;
        }

        .ui.header {
          color: #FFFFFF;
        }

        div {
          color: #FFFFFF !important;
        }
      }
    }

    &:nth-child(2) {
      .card {
        background: linear-gradient(135deg, #3498DB, #9B59B6);

        .icon {
          color: #FFFFFF;
        }

        .ui.header {
          color: #FFFFFF;
        }

        div {
          color: #FFFFFF !important;
        }
      }
    }

    &:nth-child(3) {
      .card {
        background: linear-gradient(315deg, #E74C3C, #C0392B);

        .icon {
          color: #FFFFFF;
        }

        .ui.header {
          color: #FFFFFF;
        }

        div {
          color: #FFFFFF !important;
        }
      }
    }

    &:nth-child(4) {
      .card {
        background: linear-gradient(225deg, #2ECC71, #27AE60);

        .icon {
          color: #FFFFFF;
        }

        .ui.header {
          color: #FFFFFF;
        }

        div {
          color: #FFFFFF !important;
        }
      }
    }
  }
}

div.dropdown {

  .menu {
    .item {
      max-height: 34px !important;

      i {
        color: black !important;
      }

      color: black !important;

      &:hover {
        background: $blue-glacier-dark !important;
        /* Lorsque l'utilisateur survole un élément du menu, utilisez le bleu glacier foncé */
        color: $white-pure !important;

        i {
          color: #FFFFFF !important;
        }
      }
    }

  }
}

.simple-segment {
  border-radius: 5px !important;
  background-color: #FFFFFF !important;
  width: 100%;
  padding: 1rem;
}

#documents-import-page {
  .ui.row {
    .ui.stackable.grid {
      .ten.wide.column {
        height: 100vh;
        min-height: 100vh;

        #documents-import-view-wrapper {
          height: 100% !important;
          min-height: 100% !important;
        }
      }

      .six.wide.column {
        #documents-import-indexation-wrapper {
          max-height: 60vh !important;
          min-height: 60vh !important;
          height: 60vh !important;
          overflow: scroll;
        }
      }
    }
  }
}


.tags-input-wrapper {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
  min-height: 100px;

  border: 1px solid #ccc input {
    border: none;
    background: transparent;
    outline: none;
    width: 10px;
  }

  .tag {
    display: inline-block;
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, .6);
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 0 solid transparent;
  }

  .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
  }

  input {
    border: none !important;
    background: transparent !important;
    outline: none !important;
    width: 150px !important;
  }
}

.pagination {
  box-shadow: none !important;
}

#open-attached-file-modal {
  margin: 0px !important;
}

.dashboard-stats {
  .ui.fluid.card {
    box-shadow: none !important;
  }
}

.modal {
  .header {
    background-color: #3e8dae !important;
    color: $white-pure !important;
  }
}

table div.menu.left.transition.visible .item {
  display: flex !important;
  align-items: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nature-produit-item{
  &.active{
    color: white;
    background-color: orangered;
  }
}