@charset "UTF-8";
.glass-container {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
}

.glass-btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.glass-btn:hover {
  background: #fff;
  color: #333;
}

.glass-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.glass-icon {
  color: #fff;
  transition: all 0.3s ease;
}

.glass-icon:hover {
  color: #ccc;
}

.back-office.top.fixed.borderless.menu {
  min-height: 50px;
  border: none;
  /* Utilisez le bleu glacier principal pour le top menu */
}

@media (max-width: 575.98px) {
  .back-office.top.fixed.borderless.menu {
    width: 100vw;
  }
}

.back-office.top.fixed.borderless.menu .ui.row {
  width: 100%;
  display: flex;
}

.back-office.top.fixed.borderless.menu .ui.row .header.item span {
  margin-left: 8px;
}

.back-office.top.fixed.borderless.menu .ui.row .right.menu #toggle-sidebar {
  display: none;
}

@media (max-width: 575.98px) {
  .back-office.top.fixed.borderless.menu .ui.row .right.menu #toggle-sidebar {
    display: flex;
  }
}

.back-office.top.fixed.borderless.menu .ui.row .right.menu .menu .item {
  color: black !important;
}

.back-office.top.fixed.borderless.menu .ui.row .right.menu .menu .item i {
  color: black !important;
}

.back-office.top.fixed.borderless.menu .ui.row .right.menu .menu .item:hover {
  background: #66A6D9 !important;
  /* Lorsque l'utilisateur survole un élément du menu, utilisez le bleu glacier foncé */
  color: #FFFFFF !important;
}

.back-office.top.fixed.borderless.menu .ui.row .right.menu .menu .item:hover i {
  color: #FFFFFF !important;
}

@media (max-width: 575.98px) {
  .ui.content-block.row {
    width: 100vw;
  }
}

.ui.content-block.row #page-content {
  margin-top: 5px;
  margin-right: 2px;
  padding-left: 19.5%;
}

@media (max-width: 575.98px) {
  .ui.content-block.row #page-content {
    padding-left: 1rem;
  }
}

.ui.content-block.row #toc {
  position: fixed;
  width: 18.5%;
  height: 100%;
  overflow: scroll;
  padding-bottom: 100px;
  border-right: 1px solid #d4d4d5;
  border: 1px solid #d4d4d5;
  background: white !important;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 575.98px) {
  .ui.content-block.row #toc {
    display: none;
  }
}

.ui.content-block.row #toc div.content {
  padding-top: 0px !important;
}

.ui.content-block.row #toc div.content .menu .item {
  height: 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ui.content-block.row #toc .ui.vertical.menu {
  border-radius: 0 !important;
  border: none;
  color: #FFFFFF;
  box-shadow: none;
}

.ui.content-block.row #toc .ui.vertical.menu div.content {
  padding-top: 0px !important;
}

.ui.content-block.row #toc .ui.vertical.menu div.content .menu .item {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.ui.content-block.row #toc .ui.vertical.menu .title.item {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 1rem 1rem 1rem !important;
}

.ui.content-block.row #toc .ui.vertical.menu a.item.active {
  background: #3e8dae;
  /* Lorsque l'utilisateur survole un élément du menu, utilisez le bleu glacier foncé */
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0px !important;
}

.ui.content-block.row #toc .ui.vertical.menu .item.header {
  font-size: 12px !important;
  padding-left: 20px !important;
}

.ui.content-block.row #toc .ui.vertical.menu .item.header:hover {
  background: inherit !important;
}

.ui.content-block.row #toc .ui.vertical.menu .item i {
  float: left;
  margin-right: 10px;
}

.ui.content-block.row #toc .ui.vertical.menu .menu .item {
  padding-left: 25px !important;
}

.error.label {
  text-align: left !important;
  color: #db7b7b;
}

.error.label::before {
  content: "* ";
}

.dashboard-stats {
  margin-bottom: 15px !important;
}

input,
textarea,
select,
button,
.dropdown {
  border-radius: 10px !important;
}

.ui.segment:not(.basic),
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
}

.button,
.pagination {
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

html {
  scroll-behavior: smooth;
}

html body {
  background-color: #f6f8fc;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(1) .card {
  background: linear-gradient(45deg, #FF5733, #FFC300);
}

.ui.grid.stackable.dashboard-stats .column:nth-child(1) .card .icon {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(1) .card .ui.header {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(1) .card div {
  color: #FFFFFF !important;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(2) .card {
  background: linear-gradient(135deg, #3498DB, #9B59B6);
}

.ui.grid.stackable.dashboard-stats .column:nth-child(2) .card .icon {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(2) .card .ui.header {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(2) .card div {
  color: #FFFFFF !important;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(3) .card {
  background: linear-gradient(315deg, #E74C3C, #C0392B);
}

.ui.grid.stackable.dashboard-stats .column:nth-child(3) .card .icon {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(3) .card .ui.header {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(3) .card div {
  color: #FFFFFF !important;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(4) .card {
  background: linear-gradient(225deg, #2ECC71, #27AE60);
}

.ui.grid.stackable.dashboard-stats .column:nth-child(4) .card .icon {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(4) .card .ui.header {
  color: #FFFFFF;
}

.ui.grid.stackable.dashboard-stats .column:nth-child(4) .card div {
  color: #FFFFFF !important;
}

div.dropdown .menu .item {
  max-height: 34px !important;
  color: black !important;
}

div.dropdown .menu .item i {
  color: black !important;
}

div.dropdown .menu .item:hover {
  background: #66A6D9 !important;
  /* Lorsque l'utilisateur survole un élément du menu, utilisez le bleu glacier foncé */
  color: #FFFFFF !important;
}

div.dropdown .menu .item:hover i {
  color: #FFFFFF !important;
}

.simple-segment {
  border-radius: 5px !important;
  background-color: #FFFFFF !important;
  width: 100%;
  padding: 1rem;
}

#documents-import-page .ui.row .ui.stackable.grid .ten.wide.column {
  height: 100vh;
  min-height: 100vh;
}

#documents-import-page .ui.row .ui.stackable.grid .ten.wide.column #documents-import-view-wrapper {
  height: 100% !important;
  min-height: 100% !important;
}

#documents-import-page .ui.row .ui.stackable.grid .six.wide.column #documents-import-indexation-wrapper {
  max-height: 60vh !important;
  min-height: 60vh !important;
  height: 60vh !important;
  overflow: scroll;
}

.tags-input-wrapper {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
  min-height: 100px;
  border: 1px solid #ccc input;
  border-border: none;
  border-background: transparent;
  border-outline: none;
  border-width: 10px;
}

.tags-input-wrapper .tag {
  display: inline-block;
  background-color: #e8e8e8;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  padding: 0px 3px 0px 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 0 solid transparent;
}

.tags-input-wrapper .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer;
}

.tags-input-wrapper input {
  border: none !important;
  background: transparent !important;
  outline: none !important;
  width: 150px !important;
}

.pagination {
  box-shadow: none !important;
}

#open-attached-file-modal {
  margin: 0px !important;
}

.dashboard-stats .ui.fluid.card {
  box-shadow: none !important;
}

.modal .header {
  background-color: #3e8dae !important;
  color: #FFFFFF !important;
}

table div.menu.left.transition.visible .item {
  display: flex !important;
  align-items: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nature-produit-item.active {
  color: white;
  background-color: orangered;
}
