$blue-glacier-primary: #3F8BAE;
$white-pure: #FFFFFF;
$blue-glacier-light: #F5F8FA;
$blue-glacier-dark:  #66A6D9;
$blue-glacier-text: #2C3E50;
$blue-glacier-border: #E1E8EE;
$blue-glacier-background: #F9FBFC;

$gray-anthracite: #333333;
